<table *ngIf="countries.length > 0" 
       class="table table-hover animate__animated animate__fadeIn">
    <thead>
        <tr>
            <th> # </th>
            <th> Flag </th>
            <th> Name </th>
            <th> Population </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
                <img class="small-flag" [src]="country.flag" alt="">
            </td>
            <td> {{ country.capital }}, {{ country.name }}</td>
            <td>{{ country.population | number }}</td>
            <td>
                <a [routerLink]="['/country', country.alpha2Code]">More...</a>
            </td>
        </tr>
    </tbody>
</table>
